.mainDiv5 {
  height: fit-content;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0px;
  gap: 30px;
}
.mainDiv5 > .cont1 {
  height: fit-content;
  width: calc(100vw - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 65px;
}
.mainDiv5 > .cont1 > .Line {
  height: 2px;
  width: 95%;
  background-color: var(--Line-color);
}
.mainDiv5 > .cont1 > .Content {
  height: fit-content;
  width: 1380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}
.mainDiv5 > .cont1 > .Content > .item1 {
  height: 40px;
  width: 220px;
  margin-left: 20px;
}
.mainDiv5 > .cont1 > .Content > .item1 > .search {
  height: 100%;
  width: 100%;
  background-color: var(--white-color);
  border-radius: 22.5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
  overflow: hidden;
}
.mainDiv5 > .cont1 > .Content > .item1 > .search > .sub1 {
  height: 100%;
  width: 25px;
  display: grid;
  place-content: center;
}
.mainDiv5 > .cont1 > .Content > .item1 > .search > .sub2 {
  height: 100%;
  width: 150px;
  box-shadow: none;
  background-color: var(--white-color);
  border: none;
  border-left: 3px solid var(--bg-color);
  padding-left: 5px;
  caret-color: rgba(0, 0, 0, 0.6);
}
.mainDiv5 > .cont1 > .Content > .item1 > .search > .sub2:focus {
  outline: none;
}
.mainDiv5 > .cont1 > .Content > .item2 {
  height: fit-content;
  width: 1380px;
}
.mainDiv5 > .cont1 > .Content > .item2 > .table {
  height: fit-content;
  width: 1380px;
  border-spacing: 20px 30px;
}
.mainDiv5 > .cont1 > .Content > .item2 > .table > .thead {
  height: 42px;
  width: 1380px;
}
.mainDiv5 > .cont1 > .Content > .item2 > .table > .thead > .theadrow {
  height: 100%;
  width: 100%;
}
.mainDiv5 > .cont1 > .Content > .item2 > .table > .thead > .theadrow > th {
  /* display: grid;
  place-content: center; */
  /* width: 100px; */
  text-align: left;
  font-size: 14px;
}
.mainDiv5 > .cont1 > .Content > .item2 > .table > .tbody {
  height: 42px;
  width: 1380px;
}
.mainDiv5 > .cont1 > .Content > .item2 > .table > .tbody > .tbodyrow {
  height: 100%;
  width: 100%;
}
.mainDiv5 > .cont1 > .Content > .item2 > .table > .tbody > .tbodyrow > td {
  text-align: left;
  font-size: 14px;
}
.mainDiv5
  > .cont1
  > .Content
  > .item2
  > .table
  > .tbody
  > .tbodyrow
  > td:nth-child(11) {
  height: 100%;
  width: 170px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}
.mainDiv5
  > .cont1
  > .Content
  > .item2
  > .table
  > .tbody
  > .tbodyrow
  > td:nth-child(11)
  > button {
  box-shadow: none;
  border: none;
  font-weight: 700;
  /* border-right: 1px solid black; */
}

.mainDiv5
  > .cont1
  > .Content
  > .item2
  > .table
  > .tbody
  > .tbodyrow
  > td:nth-child(10)
  > div {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
