.mainDiv10 {
  height: fit-content;
  width: 98vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 44.3px;
  padding-top: 40px;
  /* overflow-y: hidden; */
}
.mainDiv10 > .container {
  height: fit-content;
  width: 98vw;
  display: flex;
  align-items: flex-start;
  gap: 35px;
  border-top: 1px solid #ddd;
}
.mainDiv10 > .container > .cont1 {
  width: 272px;
  height: 700px;
  background-color: #ffe9e9;
}
.mainDiv10 > .container > .cont1 > .sub {
  height: calc(100% -120px);
  width: calc(100% - 120px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 60px 60px;
  gap: 32px;
}
.mainDiv10 > .container > .cont1 > .sub > .item {
  height: 32px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.mainDiv10 > .container > .cont1 > .sub > .item > .sub1 {
  height: 32px;
  width: fit-content;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.66px;
}
.mainDiv10 > .container > .cont2 {
  width: 680px;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 56px;
  padding-top: 18px;
  border-right: 1px solid #ddd;
}
.mainDiv10 > .container > .cont2 > .item1 {
  height: 35px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
  gap: 22px;
}
.mainDiv10 > .container > .cont2 > .item1 > .searchBar {
  height: 100%;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
  border-radius: 17.5px;
  overflow: hidden;
  padding-left: 2px;
}
.mainDiv10 > .container > .cont2 > .item1 > .searchBar > .sub1 {
  height: 100%;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
}
.mainDiv10 > .container > .cont2 > .item1 > .searchBar > .sub2 {
  height: 100%;
  width: 160px;
  box-shadow: none;
  border: none;
  border-left: 3px solid var(--bg-color);
  padding-left: 5px;
}
.mainDiv10 > .container > .cont2 > .item1 > .searchBar > .sub2:focus {
  outline: none;
}

.mainDiv10 > .container > .cont2 > .item1 > .table {
  height: 100%;
  width: 130px;
  border-radius: 18px;
  overflow: hidden;
  background-color: var(--white-color);
  padding-left: 20px;
}
.mainDiv10 > .container > .cont2 > .item1 > .table > .sub1 {
  height: 100%;
  width: 80%;
  background-color: var(--white-color);
  border: none;
  box-shadow: none;
}
.mainDiv10 > .container > .cont2 > .item1 > .table > .sub1:focus {
  outline: none;
}
.mainDiv10 > .container > .cont2 > .item1 > .searchBar > .sub2::placeholder,
.mainDiv10 > .container > .cont2 > .item1 > .table > .sub1::placeholder {
  color: #4b5563;
  opacity: 70%;
}
.mainDiv10 > .container > .cont2 > .item2 {
  height: 680px;
  width: fit-content;
  padding-left: 20px;
}
.mainDiv10 > .container > .cont2 > .item2 > .gridContainer {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 190px);
  column-gap: 13.5px;
  grid-template-rows: repeat(2, 90px);
  row-gap: 36px;
}
.mainDiv10 > .container > .cont3 {
  height: 680px;
  width: 470px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: 35px;
}
.mainDiv10 > .container > .cont3 > .item1 {
  height: 20px;
  width: 450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mainDiv10 > .container > .cont3 > .item1 > .items {
  height: fit-content;
  width: 150px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  letter-spacing: 0.48px;
  text-align: left;
  padding-left: 15px;
}
.mainDiv10 > .container > .cont3 > .item1 > .quantity {
  height: fit-content;
  width: 130px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  letter-spacing: 0.48px;
  text-align: center;
}
.mainDiv10 > .container > .cont3 > .item1 > .price {
  height: fit-content;
  width: fit-content;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  letter-spacing: 0.48px;
}
.mainDiv10 > .container > .cont3 > .item2 {
  height: fit-content;
  width: 470px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 7px;
  padding: 40px 10px;
  border-bottom: 1px solid #ddd;
}
.mainDiv10 > .container > .cont3 > .item2 > .sub {
  height: 30px;
  width: 450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mainDiv10 > .container > .cont3 > .item2 > .sub > .name {
  height: 100%;
  width: 150px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}
.mainDiv10 > .container > .cont3 > .item2 > .sub > .quanBtn {
  height: 100%;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
.mainDiv10 > .container > .cont3 > .item2 > .sub > .quanBtn > .subtract,
.mainDiv10 > .container > .cont3 > .item2 > .sub > .quanBtn > .add {
  height: 100%;
  width: 30px;
  display: grid;
  place-content: center;
  background-color: #d9d9d9;
  border-radius: 6px;
}
.mainDiv10 > .container > .cont3 > .item2 > .sub > .quanBtn > .count {
  height: 100%;
  width: 50px;
  display: grid;
  place-content: center;
  background-color: #d9d9d9;
  border-radius: 6px;
}
.mainDiv10 > .container > .cont3 > .item2 > .sub > .cost {
  height: fit-content;
  width: 40px;
  display: grid;
  place-content: center;
}
.mainDiv10 > .container > .cont3 > .item3 {
  height: 50px;
  width: 470px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  padding-right: 10px;
}
.mainDiv10 > .container > .cont3 > .item3 > .subitem1 {
  width: fit-content;
  display: grid;
  place-content: center;
  font-size: 16px;
  font-weight: 600;
}
.mainDiv10 > .container > .cont3 > .item3 > .subitem2 {
  width: 40px;
  display: grid;
  place-content: center;
  font-size: 22px;
}
.mainDiv10 > .container > .cont3 > .item4 {
  height: 45px;
  width: 100%;
  padding: 0px 15px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border-bottom: 1px solid #ddd;
}
.mainDiv10 > .container > .cont3 > .item4 > .sub {
  height: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.mainDiv10 > .container > .cont3 > .item4 > .sub > .input {
  width: 14px;
  height: 14px;
  background-color: #d9d9d9;
  border-radius: 50%;
  vertical-align: middle;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}
.mainDiv10 > .container > .cont3 > .item4 > .sub > .input:checked {
  background-color: var(--primary-color);
}
.mainDiv10 > .container > .cont3 > .item4 > .sub > .text {
  font-size: 16px;
  font-weight: 600;
}
.mainDiv10 > .container > .cont3 > .item5 {
  height: fit-content;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.mainDiv10 > .container > .cont3 > .item5 > .sub1,
.mainDiv10 > .container > .cont3 > .item5 > .sub2,
.mainDiv10 > .container > .cont3 > .item5 > .sub3 {
  height: 40px;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.mainDiv10 > .container > .cont3 > .item5 > .sub1 > .input {
  height: 100%;
  width: fit-content;
  background-color: var(--white-color);
  border-radius: 25px;
  border: none;
  padding-left: 20px;
}
.mainDiv10 > .container > .cont3 > .item5 > .sub1 > .input::placeholder {
  color: #4b5563;
  font-weight: 400;
  letter-spacing: 0.42px;
  opacity: 0.5;
}
.mainDiv10 > .container > .cont3 > .item5 > .sub1 > .btn {
  height: 100%;
  width: 120px;
}
.mainDiv10 > .container > .cont3 > .item5 > .sub1 > .btn > button {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.36px;
  border-radius: 10px;
}
.mainDiv10 > .container > .cont3 > .item5 > .sub2 > .input {
  height: 100%;
  width: 120px;
  box-shadow: none;
  border: none;
  border-radius: 25px;
  background-color: var(--white-color);
  padding-left: 20px;
}

.mainDiv10 > .container > .cont3 > .item5 > .sub2 > .input::placeholder {
  color: #4b5563;
  font-weight: 400;
  letter-spacing: 0.42px;
  opacity: 0.5;
}
.mainDiv10 > .container > .cont3 > .item5 > .sub2:nth-child(1) {
  height: 100%;
  width: 120px;
  box-shadow: none;
  border: none;
  border-radius: 25px;
  background-color: var(--white-color);
  padding-left: 20px;
}
