.navigation2 {
  width: 1380px;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation2 > .cont1 {
  width: 320px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 42px;
}
.navigation2 > .cont1 > .sub1 {
  height: 32px;
  width: 32px;
  font-size: 32px;
  display: grid;
  place-content: center;
}

.navigation2 > .cont1 > .sub2 {
  height: 100%;
  width: 90px;
  display: grid;
  place-content: center;
  overflow: hidden;
}
.navigation2 > .cont1 > .sub2 > img {
  height: 100%;
  width: 100%;
  object-position: center;
  object-fit: cover;
  transform: scale(120%);
}
.navigation2 > .cont1 > .sub3 {
  height: 40px;
  width: 110px;
}
.navigation2 > .cont2 {
  width: 260px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.navigation2 > .cont2 > .sub1 {
  height: 100%;
  width: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.navigation2 > .cont2 > .sub1 > .icon {
  height: 40px;
  width: 40px;
}
.navigation2 > .cont2 > .sub1 > .icon > button {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  box-shadow: none;
  border: none;
  display: grid;
  place-content: center;
  color: var(--primary-color);
  font-size: 1.3rem;
  background-color: var(--white-color);
}
.navigation2 > .cont2 > .sub2 {
  height: 100%;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.navigation2 > .cont2 > .sub2 > .name {
  font-size: 14px;
  font-weight: 700;
}
.navigation2 > .cont2 > .sub2 > .symbolcont {
  height: 40px;
  width: 40px;
  box-shadow: none;
  border: none;
}
.navigation2 > .cont2 > .sub2 > .symbolcont > .symbol {
  height: 40px;
  width: 40px;
  box-shadow: none;
  border: none;
}
.navigation2 > .cont2 > .sub2 > .symbolcont > .symbol > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.NavbarToggle {
  position: absolute;
  left: 0px;
  top: 150px;
  height: 700px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  visibility: visible;
}
.NavbarToggle > .ulToggle {
  height: fit-content;
  width: 160px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.NavbarToggle > .ulToggle > .liToggle {
  height: 50px;
  width: 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  border-bottom: 2px solid var(--Line-color);
}
.NavbarToggle > .ulToggle > .liToggle > .liTextToggle {
  font-size: 20px;
  height: fit-content;
  width: 120px;
  font-weight: 700;
}
.toggleUser {
  position: relative;
  top: 10px;
  left: -180px;
  height: 220px;
  width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  box-shadow: 0px 0px 15.9px -2px rgba(0, 0, 0, 0.25);
  padding: 12px 0px;
}
.toggleUser > .togglecont1 {
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 22px;
  border-bottom: 1.5px solid #ddd;
}
.toggleUser > .togglecont1 > .toggleitem1 {
  height: 24px;
  width: fit-content;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.48px;
}
.toggleUser > .togglecont1 > .toggleitem2 {
  height: 18px;
  width: fit-content;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.36px;
}
.toggleUser > .togglecont2 {
  height: 130px;
  width: 100%;
}
.toggleUser > .togglecont2 > .ulToggle2 {
  height: 132px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 14px;
  padding-left: 22px;
}
.toggleUser > .togglecont2 > .ulToggle2 > .liToggle2 {
  height: 24px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.toggleUser > .togglecont2 > .ulToggle2 > .liToggle2 > .icontoggle {
  height: 100%;
  width: 24px;
  display: grid;
  place-content: center;
  font-size: 24px;
}
.toggleUser > .togglecont2 > .ulToggle2 > .liToggle2 > .nametoggle {
  height: 100%;
  width: fit-content;
  font-size: 16px;
  letter-spacing: 0.48px;
}
