.headdiv {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 128px;
  margin-bottom: 65px;
  margin-top: 40px;
}

.mainmain {
  height: auto;
  width: 100%;
  display: grid;
  place-content: center;
  gap: 155px;
}

.encloser1 {
  height: 447px;
  width: 100%;
  display: grid;
  place-content: center;
}

.encloser1 > .home_screen1 {
  height: 450px;
  width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.encloser1 > .home_screen1 > .cont1 {
  height: 370px;
  width: 620px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.encloser1 > .home_screen1 > .cont1 > .sub1 {
  height: 220px;
  width: 400px;
  font-size: 48px;
  font-weight: 700;
}
.encloser1 > .home_screen1 > .cont1 > .sub2 {
  height: 80px;
  width: 380px;
  font-size: 18px;
  font-weight: 300;
  display: grid;
  place-content: center;
  margin-bottom: 30px;
}
.encloser1 > .home_screen1 > .cont1 > .sub3 {
  height: 50px;
  width: 160px;
}
.encloser1 > .home_screen1 > .cont1 > .sub3 > div {
  font-size: 18px;
  border-radius: 35px;
}
.encloser1 > .home_screen1 > .cont2 {
  height: 360px;
  width: 460px;
  position: relative;
}
.encloser1 > .home_screen1 > .cont2 > .item1_circle {
  position: absolute;
  top: 0;
  left: 15px;
  height: 320px;
  width: 350px;
  border-radius: 50%;
  background-color: var(--primary-color);
  box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.5);
}
.encloser1 > .home_screen1 > .cont2 > .item2_ellipse {
  position: absolute;
  top: 40px;
  left: 10px;
  height: 320px;
  width: 440px;
  border-radius: 50%;
  background-color: var(--ellipse-color);
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.5);
}
.encloser1 > .home_screen1 > .cont2 > .item3_img {
  position: absolute;
  top: 0;
  left: 0;
  height: 360px;
  width: 460px;
  border-radius: 50%;
  overflow: hidden;
  background-color: transparent;
}
.encloser1 > .home_screen1 > .cont2 > .item3_img > img {
  height: auto;
  width: 100%;
  object-fit: cover;
  object-position: center;
  background-color: transparent;
}
.encloser2 {
  height: 2230px;
  width: 1100px;
}
.encloser2 > .home_screen2 {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 90px;
}
.encloser2 > .home_screen2 > .cont1 {
  width: 1085px;
  height: 120px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.encloser2 > .home_screen2 > .cont1 > .sub1 {
  width: fit-content;
  height: 20px;
  font-size: 16px;
  color: var(--primary-color);
  text-transform: uppercase;
  font-weight: 700;
  display: grid;
  place-content: center;
}
.encloser2 > .home_screen2 > .cont1 > .sub2 {
  width: fit-content;
  height: 40px;
  font-size: 40px;
  font-weight: 700;
  display: grid;
  place-content: center;
}
.encloser2 > .home_screen2 > .cont1 > .sub3 {
  width: fit-content;
  height: 40px;
  font-size: 18px;
  font-weight: 400;
  display: grid;
  place-content: center;
  color: var(--hom-page-component-desc-text-color);
}
.encloser2 > .home_screen2 > .cont2 {
  height: 2000px;
  width: 1100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 95px;
  flex-direction: column;
}
.encloser3 {
  height: 700px;
  width: 1100px;
  display: grid;
  place-content: center;
}
.encloser3 > .home_screen3 {
  height: 700px;
  width: 1100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 150px;
}
.encloser3 > .home_screen3 > .cont1 {
  height: 380px;
  width: 1100px;
  display: grid;
  grid-template-rows: 380px;
  grid-template-columns: 420px 420px;
  justify-content: space-between;
}
.encloser3 > .home_screen3 > .cont1 > .sub1,
.encloser3 > .home_screen3 > .cont1 > .sub2 {
  width: 420px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 15px;
}
.encloser3 > .home_screen3 > .cont1 > .sub1 > .item1,
.encloser3 > .home_screen3 > .cont1 > .sub2 > .item1 {
  height: 220px;
  width: 220px;
  border-radius: 50%;
  background-color: var(--round-color);
}
.encloser3 > .home_screen3 > .cont1 > .sub2 > .item1 {
  display: grid;
  place-content: center;
}
.encloser3 > .home_screen3 > .cont1 > .sub1 > .item1 > .imgTag {
  height: 240px;
  width: 240px;
  background-image: url("/Assets/main-page-2.png");
  background-position: center;
  background-size: contain;
  background-color: transparent;
}
.encloser3 > .home_screen3 > .cont1 > .sub2 > .item1 > .imgTag {
  height: 200px;
  width: 200px;
  background-image: url("/Assets/main-page-3.png");
  background-position: center;
  background-size: contain;
  background-color: transparent;
}
.encloser3 > .home_screen3 > .cont1 > .sub1 > .item2,
.encloser3 > .home_screen3 > .cont1 > .sub2 > .item2 {
  height: 40px;
  width: fit-content;
  font-size: 28px;
  font-weight: 700;
  color: var(--primary-color);
}
.encloser3 > .home_screen3 > .cont1 > .sub1 > .item3,
.encloser3 > .home_screen3 > .cont1 > .sub2 > .item3 {
  width: 420px;
  height: fit-content;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}
.encloser3 > .home_screen3 > .cont2 {
  height: 140px;
  width: 850px;
  display: grid;
  grid-template-rows: 60px 60px;
  grid-template-columns: 850px;
  row-gap: 20px;
  align-items: center;
}
.encloser3 > .home_screen3 > .cont2 > .sub1 {
  text-align: center;
  font-size: 38px;
  font-weight: 700;
}
.encloser3 > .home_screen3 > .cont2 > .sub1 > span {
  color: var(--primary-color);
}
.encloser3 > .home_screen3 > .cont2 > .sub2 {
  justify-self: center;
  height: 55px;
  width: 200px;
  color: var(--white-color);
  font-size: 18px;
  font-weight: 700;
  background-color: var(--primary-color);
  display: grid;
  place-content: center;
  border-radius: 10px;
  box-shadow: none;
  border: none;
  cursor: pointer;
}
.encloser4 , .encloser5{
  height: 100vh;
  width: 1100px;
  display: grid;
  place-content: center;
}
.encloser4 {
  height: 617px;
}
.encloser5 {
  height: 600px;
}