.navigation1 {
  height: 130px;
  width: 1240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation1 > .cont1 {
  height: 80px;
  width: 110px;
}
.navigation1 > .cont1 > img  {
  width: auto;
  height: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  object-position: center;
}
.navigation1 > .cont2 {
  height: 25px;
  width: 520px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation1 > .cont2 > div {
  height: 25px;
  width: fit-content;
  font-size: 16px;
}
.navigation1 > .cont3 {
  height: 40px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.navigation1 > .cont3 > div {
  height: 40px;
  width: 110px;
}
.navigation1 > .cont3 > div > .Link > div {
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.5px;
}
